<h4>Space Info</h4>
<div ng-if="$ctrl.selectedSpace">
  <div class="card">
    <h6 class="card-header">
      <span
        class="space-detail-close"
        ng-click="$ctrl.onClose()">
        &times;
      </span>
      {{ $ctrl.selectedSpace.tenant }}
    </h6>
    <div class="card-body">
      <div>Rent: {{ $ctrl.selectedSpace.rent }}</div>
      <div>Rent: {{ $ctrl.selectedSpace.expirationDate }}</div>
      <div>Occupancy Cost: {{ $ctrl.selectedSpace.occupancyCost }}</div>
    </div>
  </div>
</div>
<div
  class="alert alert-secondary"
  ng-if="!$ctrl.selectedSpace">
  Select a tenant / space for more info
</div>
