<h4>Space Info</h4>
<div ng-if="$ctrl.selectedSpace">
  <span
    class="glyphicon glyphicon-remove"
    ng-click="$ctrl.onClose()">
    X
  </span>
  <div class="card space-detail-card">
    <h6 class="card-header">
      {{ $ctrl.selectedSpace.tenant }}
    </h6>
    <div class="card-body">
      <div>Rent: {{ $ctrl.selectedSpace.rent }}</div>
      <div>Rent: {{ $ctrl.selectedSpace.expirationDate }}</div>
      <div>Occupancy Cost: {{ $ctrl.selectedSpace.occupancyCost }}</div>
    </div>
  </div>
</div>
<div
  class="alert alert-secondary"
  ng-if="!$ctrl.selectedSpace">
  Select a tenant / space for more info
</div>
